body {
    background-color: beige;
}

ul li{
    display: inline-block;
    width:150px;
    height:250px;
    padding:1em;
    margin-bottom:2em;
}

a.thumbnail {
    width: 120px;
}
.thumbnail img {
    width:100%;
}